.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.canvas-container{
    width:1000px;
    height:540px;
}

.canvas{
    position:absolute;    
    max-width:1000px;
    max-height:500px;
    z-index:999;
}

.cropBox{
    position:absolute;    
    max-width:1000px;
    max-height:500px;
    z-index:999;
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}

table { 
    border-collapse: collapse; 
}

.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

.dragme{
	position:relative;
	cursor: move;    
    z-index:1;
}
#draggable {
	background-color: #ccc;
	border: 1px solid #000;
}
